.newsletter {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0px;
  }
  
  .newsletter-heading {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .newsletter-text {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  

.newsletter-input:focus {
    border-color: #76aef1;
    box-shadow: 0 0 10px rgba(118, 174, 241, 0.5);
    outline: none;
  }
  
  .newsletter-input::placeholder {
    color: #aaa;
    transition: color 0.3s ease;
  }
  
  .newsletter-input:focus::placeholder {
    color: #76aef1;
  }
  

  
  .newsletter-message {
    margin-top: 20px;
    color: green;
    font-size: 1rem;
  }
  