  .custom-container {
    font-family: 'Roboto', sans-serif;

  }

  .custom-heading {
    font-size: 1rem;
    color: #F2D422;
  }

  .custom-title {
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
  }

  .custom-paragraph {
    font-size: 0.875rem;
    color: silver;
  }

  .image-container {
    
    height: auto;
    overflow: hidden;
    cursor: pointer;
  }

  .custom-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;

  }

  .custom-product-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 15px 0px;
  }

  /* Extra Small Devices (Phones in Portrait Mode) */
  @media (max-width: 576px) {
  
    .custom-image {
      max-width: 60%; 
      margin-left: 62px ;
    }
    .custom-product-title {
      text-align: center; 
      font-size: 1rem; 
    }
    .productS_star_icon 
    {
      display: block;
      margin: 0 auto; 
    }
    .custom-product-span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto; 
      width: 100%; 
      font-size: 1rem;
    }
  }

  /* Small Devices (Phones in Landscape Mode) */
  @media (min-width: 577px) and (max-width: 768px) {
    

    .custom-product-title {
      text-align: center; 
      font-size: 1.1rem;

    }
  
    .productS_star_icon {
      display: block;
      margin: 0 auto; 
    }
  }

  /* Medium Devices (Tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
 
    .custom-product-title {
      text-align: center;
      font-size: 1.2rem;
     
    }
  
    .productS_star_icon {
      display: block;
      margin: 0 auto; /* Center the star icon */
    }
  }

  /* Extra Large Devices (Large Desktops) */
  @media (min-width: 993px) {}