.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.underline_Home {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(36, 75, 53);
    margin: 5px; 
}

.tryndaStore_logo {
    max-width: 30px;
    margin-right: 10px;
}

.trolley_logo {
    max-width: 50px;
}

.nav-cart-cartcount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_cart_count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 14px;
    background-color: seagreen;
    color: white;
}

.nav-log-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media query for small screens (phones) */
@media (max-width: 576px) {

    .navbar-brand {
        font-size: 18px; 
        margin-bottom: 10px;
    }
    
    .navbar {
        overflow: hidden; /* Hides the scrollbar */
        
    }

    .trolley_logo {
        width: 35px; 
    }

    .nav_cart_count {
        font-size: 12px; 
    }

    .navbar-brand {
        font-size: 18px; 
    }

    .navbar .btn-outline-success {
        font-size: 14px; 
    }

    .nav-log-cart {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    .underline_Home
    {
        width: 20%;
      margin-left: 40%;
    }
}
